<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <img src="assets/img/side-image.svg" alt="Imagem de Navegação">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerlink="/">
                <i class="material-icons">home</i> HOME
            </a>
            <a mat-list-item routerlink="/">
                <i class="material-icons">account_circle</i> TÉCNICOS
            </a>
            <a mat-list-item routerlink="/">
                <i class="material-icons">person</i> CLIENTES
            </a>
            <a mat-list-item routerlink="/">
                <i class="material-icons">code</i> GITHUB 
            </a>
            <a mat-list-item routerlink="/">
                <i class="material-icons">logout</i> SAIR
            </a>
        </mat-nav-list>
    </mat-drawer>
  
    <div class="sidenav-content">
      <button class="menu mat-elevation-z8"  (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
